.pricing-details{
    background-color: rgb(2, 19, 31);
    color: azure;
}
.button{
    background-color: rgb(194, 107, 136);
    color: rgb(169, 199, 221);
}
.button:hover{
    background-color: rgb(103, 154, 190);
}